@import url('https://fonts.googleapis.com/css2?family=Andika&family=Baumans&family=Inter:wght@700&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    height: 39px;
    background-color: #7D9BA8;
}
.header .text-header {
    line-height: 39px;
    margin-left: 20px;
    float: left;
}
.header .text-header p {
    font-family: sans-serif ;
    color: white;
    font-size: 14px;
}

.header .text-header-right  {
    line-height: 39px;
    margin-left: 62%;
}
.header .text-header-right ul {
    list-style: none;
}
.header .text-header-right ul li{
    margin-left: 35%;
}
.header .text-header-right ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 5px;
}
.header .text-header-right ul li a:hover{
    color: #F6C9AA;
    transition: 0.2s;
}
.nav{
    height: 92px;
    width: 100%;
    background-color: #E6F0F5;
    box-shadow: 0px 5px 12px #a19292; 
    display: flex;
    justify-content: space-between;
    line-height: 92px;
}
.nav .logo {
    margin-left: 15px;
    font-family: 'Baumans', cursive;
    font-size: 40px;
    font-weight: 500;
    text-shadow: 4px;
    color: rgb(10, 0, 0);
    text-shadow: 2px 2px 4px #a19292;
    /* box-shadow: 0px 5px 12px #a19292; */
    display: block;
    transition: all 0.3s ease-in-out;
    line-height: 92px;
}
.nav:hover .logo {
    transform: scale(1.1);
}
.nav .logo span{
    font-family: 'Baumans', cursive;
    font-size: 25px;
    font-weight: 500;
    color: #4FB68D;
}

.nav .menu ul {
    list-style: none;
    margin-right: 168px;
}
.nav .menu ul li {
    
}
.nav .menu ul li a {
    text-decoration: none;
    padding: 0px 40px;
    color: #323436;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.nav .menu ul li a:hover  {
    color: #F6C9AA;
     transition: 0.2s; 
    font-weight: bold;
}

.nav .search input {
    position: relative;
    width: 350px;
    height: 40px;
    border-radius: 50px 0px 0px 50px;
    right: 55px;
    border: 2px solid #4FB68D;
} 
.nav .search button {
    width: 90px;
    height: 40px;
    border-radius: 0px 50px 50px 0px;
    position: relative;
    right: 60px;
    border: 2px solid #4FB68D;
    background-color: #4FB68D;
    bottom: 7px;
    text-align: center;
}
.nav .search button i{
    position: absolute;
    bottom: 8px;
    left: 35px;
}

.nav .search button:hover {
   background-color: #F6C9AA;
   transition: 0.2s;
}
.shops{
    width: 100%;
    height: 50px;
    background-color: #C5CFDE;
    margin-top: 20px;
    position: relative;
}
.row {
    line-height: 50px;
   
}
.row .sp{
    display: flex;
    margin-left: 45px;
}
.row .sp i {
    line-height: 50px;
    font-size: 20px;
    padding: 0px 15px;
}
.row a {
    color: black;
    text-decoration: none;
}
.content{
    width: 100%;
    height: 45px;
    background-color: #F5F3F2;
    margin-top: 15px;
    display: flex;
}

.content input {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-left: 55px;
    /* background-color: #F6C9AA; */
}

.content p{
    margin-top: 10px;
    margin-left: 20px;
}
.container {
    margin-top: 25px;
}
.container .box1{
    width: 100%;
    height: 150px;
    background-color: #fdfeff;
}
.box1 {
    /* border: 1px solid black; */
}
.box1 .row{
    /* line-height: 100px;  */
    padding: 20px 0px;
}
.row img{
    max-width: 100px;
}
.soluong {
    display: flex;
    border: 1px solid #735D49;
    width: 100px;
}
.soluong button {
    border: none;
    padding: 0px 15px ;
    background-color: white;
    /* margin-right: 5px;    */
}
.row input {
    width: 25px;
    height: 25px;
}
.row .text1 {
    font-size: 14px;
}
.container-thongke {
    background-color:#F2F3F5;
    width: 100%;
    height: 100px;
    
}
.thongke {
    position: relative;
}
.container-thongke .row {
    line-height: 100px;
}
.container-thongke .row input{
    position: absolute;
    top: 40px;
}
.container-thongke .row .text2 {
    position: absolute;
     top: 0px;
     left: 45px;
}
.container-thongke .row button {
     /* width: 50px;
    height: 50px;  */
    border: none;
    font-size: 24px;
    color: #60548F;
}

